Q1. Create one variable containing following type of data:

(i) string:
     a = "Div"

(ii) list:
     a = [1,2,3,4,"abc",6+7j,52.22]

(iii) float:
      a = 123.111

(iv) tuple: a = (1,2,3,"abc","div",55.22)

Q2. Given are some following variables containing data:

(i) var1 = ' ': This variable var1 contains a single space character enclosed within single quotes. It's a string with a length of 1 character.

(ii) var2 = '[ DS , ML , Python]': This variable var2 contains a string that appears to represent a list of elements separated by commas. However, the elements are not enclosed in quotes, so they are being treated as identifiers rather than strings

(iii) var3 = ['DS', 'ML', 'Python']: This variable var3 contains a list of three strings: "DS", "ML", and "Python". The elements are enclosed in square brackets and separated by commas.

(iv) var4 = 1.: This variable var4 contains a floating-point number 1.0.

Q3. Explain the use of the following operators using an example:

(i) / (Division Operator):
The / operator is used for division. It performs regular division, including decimal values.

Example:a = 10
        b = 3
        result = a / b
        print(result)  # Output: 3.3333333333333335

(ii) % (Modulus Operator):
The % operator is used for obtaining the remainder of a division operation. It's also known as the modulus operator.

Example:x = 17
        y = 5
        remainder = x % y
        print(remainder)  # Output: 2

(iii) // (Floor Division Operator):
The // operator is used for floor division, which returns the result of division rounded down to the nearest whole number.

Example:p = 20
        q = 6
        result_floor = p // q
        print(result_floor)  # Output: 3

(iv) ** (Exponentiation Operator):
The ** operator is used for raising a number to a certain power.

Example:base = 2
        exponent = 3
        result_power = base ** exponent
        print(result_power)  # Output: 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
a = [1,2,3,4,"div","abc",True,6+7j,30205,"tiwari"]

In [10]:
for i in a:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
div
<class 'str'>
abc
<class 'str'>
True
<class 'bool'>
(6+7j)
<class 'complex'>
30205
<class 'int'>
tiwari
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0  # To keep track of the number of divisions

while A >= B:
    A = A - B
    count += 1

if A == 0:
    print(f"{A} is purely divisible by {B}.")
    print(f"{B} divides {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the number A:  10
Enter the number B:  2

0 is purely divisible by 2.
2 divides 5 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
a = [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7]
for i in a:
    print(i)
    if i%3==0:
        print("divisible")
    else:
        print("not divisible")

1
not divisible
2
not divisible
3
divisible
4
not divisible
5
not divisible
6
divisible
7
not divisible
8
not divisible
9
divisible
1
not divisible
2
not divisible
3
divisible
4
not divisible
5
not divisible
6
divisible
7
not divisible
8
not divisible
9
divisible
1
not divisible
2
not divisible
3
divisible
4
not divisible
5
not divisible
6
divisible
7
not divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property

immutable Data Types: Immutable data types are those whose values cannot be changed after they are created. When you perform any operation that seems to modify an immutable object, you're actually creating a new object with the modified value.

In [7]:
name = "Divyanshu"
new_name = name + "shalini"  # Concatenation creates a new string
print(name)  
print(new_name)

Divyanshu
Divyanshushalini

Mutable Data Types: Mutable data types are those whose values can be modified after they are created. This means that you can change the content of the object without creating a new object.

In [ ]:
list1 = [1, 2, 3]
list2 = list1  # list2 references the same list as list1
list1.append(4)  # Modifying list1 also affects list2
print(list2)